.cell {
  width: 10px;
  height: 10px;
  margin: 0px 4px 0px 2px;
  display: inline-block;
}

.cell--dead {
  background-color: #b3b3b3;
}

.cell--alive {
  background-color: #1a1a1a;
}

.grid {
  background-color: #e6e6e6;
  width: 160px;
  height: 160px;
}
