body {
  font-family: sans-serif;
  text-align: center;
}

.main-panel {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  font-family: Avenir;
}

.buttonPanel {
  text-align: center;
}

.button {
  text-align: center;
  font-family: Avenir-light;
  color: #4E78B2;
  font-size: 22px;
  text-transform: uppercase;
  margin: 3px 25px 3px 25px;
  display: inline-block;
  border-radius: 2px;

  border: 1px solid;
  border-color: #4E78B2;

  display: inline-block;
  cursor: pointer;
  padding: 3px 10px 2px 10px;

  transition: color 0.5s ease, border-color 0.5s ease;
}

.button:hover {
  color: #0A336C;
  border-color: #0A336C;
}

.unpaused {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: #f2fff6;
  }
  50% {
    background-color: #d6ffe3;
  }
  100% {
    background-color: #f2fff6;
  }
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;  
}

.banner {
  color: #0A336C;
  font-size: 40px;
  font-family: Avenir;
  text-transform: uppercase;
}

.cell {
  width: 8px;
  height: 8px;
}

.cell--dead {
  background-color: #FEFEFE
}

.cell--alive {
  background-color: #0A336C;
}

.grid {
  margin: 0 auto;
  background-color: #EAF0FA;
}
